# Fetch urgent emails every 10 minutes every day
*/10 * * * * /usr/bin/php /root/inbox-pause/fetch.php -u 

# Fetch important emails every 10 minutes on business hours
*/10 10-17 * * 1-5 /usr/bin/php /root/inbox-pause/fetch.php -i 

# Fetch everything every business day at noon
0 12 * * 1-5 /usr/bin/php /root/inbox-pause/fetch.php -a


