name: Build, Test and Deploy

on:
  push:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image for Testing
        run: docker build --target dev -t gmail-priority-inbox:test .

      - name: Run Tests inside Docker
        # Ejecutamos el comando de test que ya tenés en el composer
        run: docker run --rm gmail-priority-inbox:test composer run-script test

  deploy:
    needs: test # <--- Esta es la dependencia clave
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Export Production Image
        run: |
          docker build --target prod -t gmail-priority-inbox:latest .
          docker save gmail-priority-inbox:latest > image.tar

      - name: Copy image to Server via SCP
        run: |
          echo "${{ secrets.SSH_KEY }}" > private_key.pem
          chmod 600 private_key.pem
          scp -i private_key.pem -o StrictHostKeyChecking=no image.tar ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/tmp/image.tar

      - name: Load image and Clean up
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker load < /tmp/image.tar
            rm /tmp/image.tar
            # Opcional: docker system prune -f (para limpiar imágenes huérfanas)
            echo "Despliegue finalizado con éxito"